In [2]:
#kütüphane importları

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# public computer center https://data.cityofnewyork.us/Social-Services/Citywide-Public-Computer-Centers/sejx-2gn3/about_data 
# nyc weather https://data.cityofnewyork.us/dataset/Hyperlocal-Temperature-Monitoring/qdq3-9eqn/about_data - df_weather
# colleges and universities https://data.cityofnewyork.us/Education/Colleges-and-Universities/4kym-4xw5 df_college

In [10]:
#metadatas : https://data.cityofnewyork.us/dataset/Hyperlocal-Temperature-Monitoring/qdq3-9eqn/about_data - df_weather

df_weather = pd.read_csv(filepath_or_buffer=r"C:\Users\OMN\Desktop\Data Science Projeler\Hyperlocal_Temperature_Monitoring_20240717.csv")
df_weather

,Sensor.ID,AirTemp,Day,Hour,Latitude,Longitude,Year,Install.Type,Borough,ntacode
0,Bk-BR_01,71.189000,06/15/2018,1,40.666205,-73.91691,2018,Street Tree,Brooklyn,BK81
1,Bk-BR_01,70.243333,06/15/2018,2,40.666205,-73.91691,2018,Street Tree,Brooklyn,BK81
2,Bk-BR_01,69.392667,06/15/2018,3,40.666205,-73.91691,2018,Street Tree,Brooklyn,BK81
3,Bk-BR_01,68.263167,06/15/2018,4,40.666205,-73.91691,2018,Street Tree,Brooklyn,BK81
4,Bk-BR_01,67.114000,06/15/2018,5,40.666205,-73.91691,2018,Street Tree,Brooklyn,BK81
...,...,...,...,...,...,...,...,...,...,...
2097145,Q-CH_26,78.346667,09/07/2019,15,40.699578,-73.73876,2019,Light Pole,Queens,QN33
2097146,Q-CH_26,79.517167,09/07/2019,16,40.699578,-73.73876,2019,Light Pole,Queens,QN33
2097147,Q-CH_26,77.203667,09/07/2019,17,40.699578,-73.73876,2019,Light Pole,Queens,QN33
2097148,Q-CH_26,75.696000,09/07/2019,18,40.699578,-73.73876,2019,Light Pole,Queens,QN33
2097149,Q-CH_26,72.359000,09/07/2019,19,40.699578,-73.73876,2019,Light Pole,Queens,QN33

In [15]:
df_college = pd.read_csv(filepath_or_buffer=r"C:\Users\OMN\Desktop\Data Science Projeler\COLLEGE_UNIVERSITY_20240717.csv")
df_college

,the_geom,NAME,HOUSENUM,STREETNAME,CITY,ZIP,URL,BIN,BBL
0,POINT (-73.99465215457163 40.73519616365903),New School University / Parsons School Of Design,66,FIFTH AVENUE,New York,10011,http://www.parsons.edu/html/splash.html,1009619,1.005760e+09
1,POINT (-73.99706966379965 40.73546280987431),New School University / The New School,66,WEST 12 STREET,New York,10011,http://www.newschool.edu/,1083136,1.005750e+09
2,POINT (-74.00681944352681 40.723441859057495),Metropolitan College,75,VARICK STREET,New York,10013,http://www.metropolitan.edu/,1002934,1.002260e+09
3,POINT (-73.79439300079635 40.73944287003665),School Of Nursing Of St. Vincents Catholic Med...,175-05,HORACE HARDING EXPRESSWAY,Fresh Meadows,11365,http://www.svcmc.org/portal/training/allied_he...,4148794,4.068890e+09
4,POINT (-73.84872054010768 40.721371886956774),Bramson Ort College,69-30,AUSTIN STREET,Forest Hills,11375,http://www.bramsonort.org/,4077468,4.032348e+09
...,...,...,...,...,...,...,...,...,...
72,POINT (-73.96028717108886 40.81029418631306),"Teachers College, Columbia University",525,WEST 120 STREET,New York,10027,http://www.tc.columbia.edu/,1083643,1.019750e+09
73,POINT (-73.99649861360797 40.736553887838184),New School University / Jazz And Contemporary ...,55,WEST 13 STREET,New York,10011,http://www.newschool.edu/jazz/,1009722,1.005770e+09
74,POINT (-73.9666683641188 40.80557808768119),Bank Street College Of Education / Graduate Sc...,610,WEST 112 STREET,New York,10025,http://www.bankstreet.edu/,1057331,1.018940e+09
75,POINT (-73.99747679976271 40.73526236196918),New School University / Eugene Lang College,65,WEST 11 STREET,New York,10011,http://www.lang.edu/,1009567,1.005750e+09
76,POINT (-73.95026316293709 40.81940116680288),The City College of New York,160,CONVENT AVENUE,New York,10031,http://www1.ccny.cuny.edu/,1084081,1.019570e+09

In [16]:
df_subway = pd.read_csv(filepath_or_buffer=r"C:\Users\OMN\Desktop\Data Science Projeler\MTA_Subway_Hourly_Ridership__Beginning_February_2022_20240604.csv")
df_subway

C:\Users\OMN\AppData\Local\Temp\ipykernel_39688\1670189854.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_subway = pd.read_csv(filepath_or_buffer=r"C:\Users\OMN\Desktop\Data Science Projeler\MTA_Subway_Hourly_Ridership__Beginning_February_2022_20240604.csv")

,transit_timestamp,transit_mode,station_complex_id,station_complex,borough,payment_method,fare_class_category,ridership,transfers,latitude,longitude,Georeference
0,02/03/2024 09:00:00 PM,subway,36,Bay Ridge Av (R),Brooklyn,metrocard,Metrocard - Unlimited 7-Day,4,0,40.634968,-74.02338,POINT (-74.02338 40.634968)
1,02/03/2024 10:00:00 PM,subway,198,Howard Beach-JFK Airport (A),Queens,metrocard,Metrocard - Unlimited 30-Day,7,0,40.660477,-73.83030,POINT (-73.8303 40.660477)
2,02/03/2024 10:00:00 PM,subway,240,"7 Av (F,G)",Brooklyn,omny,OMNY - Full Fare,79,1,40.666270,-73.98031,POINT (-73.98031 40.66627)
3,02/04/2024 01:00:00 AM,subway,259,"Kew Gardens-Union Tpke (E,F)",Queens,metrocard,Metrocard - Unlimited 7-Day,13,0,40.714440,-73.83101,POINT (-73.83101 40.71444)
4,02/04/2024 03:00:00 AM,subway,636,"Jay St-MetroTech (A,C,F,R)",Brooklyn,omny,OMNY - Full Fare,15,0,40.692337,-73.98594,POINT (-73.98594 40.692337)
...,...,...,...,...,...,...,...,...,...,...,...,...
58306768,02/03/2024 06:00:00 PM,subway,35,"59 St (N,R)",Brooklyn,metrocard,Metrocard - Other,5,0,40.641360,-74.01788,POINT (-74.01788 40.64136)
58306769,02/03/2024 07:00:00 PM,subway,265,"Grand Av-Newtown (M,R)",Queens,metrocard,Metrocard - Full Fare,27,6,40.737015,-73.87722,POINT (-73.87722 40.737015)
58306770,02/03/2024 07:00:00 PM,subway,626,"Franklin Av (2,3,4,5)/Botanic Garden (S)",Brooklyn,metrocard,Metrocard - Unlimited 7-Day,49,0,40.670680,-73.95813,POINT (-73.95813 40.67068)
58306771,02/03/2024 08:00:00 PM,subway,1,"Astoria-Ditmars Blvd (N,W)",Queens,metrocard,Metrocard - Fair Fare,6,0,40.775036,-73.91203,POINT (-73.91203 40.775036)
58306772,02/03/2024 09:00:00 PM,subway,299,Dyckman St (1),Manhattan,metrocard,Metrocard - Unlimited 30-Day,9,0,40.860530,-73.92554,POINT (-73.92554 40.86053)

In [17]:
df_subway.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58306773 entries, 0 to 58306772
Data columns (total 12 columns):
 #   Column               Dtype
---  ------               -----
 0   transit_timestamp    object
 1   transit_mode         object
 2   station_complex_id   object
 3   station_complex      object
 4   borough              object
 5   payment_method       object
 6   fare_class_category  object
 7   ridership            int64
 8   transfers            int64
 9   latitude             float64
 10  longitude            float64
 11  Georeference         object
dtypes: float64(2), int64(2), object(8)
memory usage: 5.2+ GB

In [14]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2097150 entries, 0 to 2097149
Data columns (total 10 columns):
 #   Column        Dtype
---  ------        -----
 0   Sensor.ID     object
 1   AirTemp       float64
 2   Day           object
 3   Hour          int64
 4   Latitude      float64
 5   Longitude     float64
 6   Year          int64
 7   Install.Type  object
 8   Borough       object
 9   ntacode       object
dtypes: float64(3), int64(2), object(5)
memory usage: 160.0+ MB

In [12]:
df_weather.isnull().sum()

Sensor.ID           0
AirTemp         11707
Day                 0
Hour                0
Latitude            0
Longitude           0
Year                0
Install.Type        0
Borough             0
ntacode             0
dtype: int64